{% extends "base.html" %}

{% block content %}
<form method='POST' class="container">
    <h1>Изменить пароль</h1>
    <div class="mb-3">
        <input type="password" class="form-control {{ 'is-invalid' if error_old_passwd else '' }}" id="" aria-describedby="" placeholder="Old password" name="old_password">
        {% if error_old_passwd %}
        <div class="invalid-feedback">{{ error_old_passwd }}</div>
        {% endif %}
    </div>
    <div class="mb-3">
        <input type="password" class="form-control {{ 'is-invalid' if error_new_passwd or error_both_passwd else '' }}" id="" aria-describedby="" placeholder="New password" name="new_password">
        {% if error_new_passwd %}
        <div class="invalid-feedback">{{ error_new_passwd }}</div>
        {% elif error_both_passwd %}
        <div class="invalid-feedback">{{ error_both_passwd }}</div>
        {% endif %}
    </div>
    <div class="mb-3">
        <input type="password" class="form-control {{ 'is-invalid' if error_both_passwd else '' }}" id="" aria-describedby="" placeholder="Confirm new password" name="new_rep_password">
        {% if error_both_passwd %}
        <div class="invalid-feedback">{{ error_both_passwd }}</div>
        {% endif %}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock content %}