{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Список пользователей</h1>
    <table class="table">
        {% for id, login, first_name, last_name in users %}
        <tr>
            <td>
                {{ login }}
            </td>
            <td>
                {{ first_name }} {{ last_name }}
            </td>
            <td>
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('show_user', user_id=id) }}" class="btn btn-success">Просмотр</a>
                    <a href="{{ url_for('edit_user', user_id=id) }}" class="btn btn-primary">Редактировать</a>      
                    <a href="{{ url_for('delete_user', user_id=id) }}" class="btn btn-danger">Удаление</a>
                    <a href="{{ url_for('change_password', user_id=id) }}" class="btn btn-warning">Изменить пароль</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}