{% extends "base.html" %}
{% from 'form.html' import form_user %}

{% block content %}
<div class="container">
    <h2 class="mt-5">Смена пароля</h2>
    <form method="POST">
        <div class="mb-3">
            <label for="old_password" class="form-label">Старый пароль</label>
            <input type="password" class="form-control {% if error_messages.get('old_password') %}is-invalid{% endif %}" id="old_password" name="old_password">
            {% if error_messages.get('old_password') %}
                <div class="invalid-feedback">
                    {{ error_messages['old_password'] }}
                </div>
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="new_password" class="form-label">Новый пароль</label>
            <input type="password" class="form-control {% if error_messages.get('password') %}is-invalid{% endif %}" id="new_password" name="new_password">
            {% if error_messages.get('password') %}
                <div class="invalid-feedback">
                    {{ error_messages['password'] }}
                </div>
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="confirm_password" class="form-label">Повторите новый пароль</label>
            <input type="password" class="form-control {% if error_messages.get('confirm_password') %}is-invalid{% endif %}" id="confirm_password" name="confirm_password">
            {% if error_messages.get('confirm_password') %}
                <div class="invalid-feedback">
                    {{ error_messages['confirm_password'] }}
                </div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Сменить пароль</button>
    </form>
</div>

{% endblock %}