{% extends "base.html" %}
{% from 'form.html' import form_user %}

{% block content %}
<div class="container">
    <h1>Информация о пользователе {{ user.login }}</h1>
    <form method="POST">
        <div class="form-group">
            <label for="first_name">Name</label>
            <input type="text" class="form-control" id="first_name" name="first_name" value="{{ user.first_name }}" required>
        </div>
        <div class="form-group">
            <label for="last_name">Last name</label>
            <input type="text" class="form-control" id="last_name" name="last_name" value="{{ user.last_name }}" required>
        </div>
        <div class="form-group">
            <label for="middle_name"></label>
            <input type="text" class="form-control" id="middle_name" name="middle_name" value="{{ user.middle_name }}">
        </div>
    </form>
</div>
{% endblock %}
